<!DOCTYPE html>
<html>
<head>
	<title>Feedback Form</title>
</head>
<body>
	<h1>Feedback Form</h1>
	<form action="feedback" method="POST">
		<input type="text" name="name" placeholder="Name">
		<br>
		<br>
		<textarea col="50" rows="5" name="feedback" placeholder="Enter your feedback here NOW !!!#$*@*"></textarea>
		<br>
		<button type="Submit">Submit</button>
	</form>
</body>
</html>